.top-header {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7); /* Updated box shadow */
    margin: 20px;
}

body {
    background-color: #f5f5f5;
    margin: 20px;
}

.large-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #ffffff;
    z-index: -1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-header h1 {
    margin: 0;
    position: relative;
}

.section-title,
.about-title,
.experience-section h2 {
    margin: 0;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 15px;
}

.about-section,
.experience-section {
    position: relative;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    border-radius: 15px; /* Add border radius */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7); /* Updated box shadow */
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.about-section {
    background-color: #292bb2;
}
.experience-section {
    background-color: #3f116c;
}


.experience-section h2 {
    margin: 0;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 15px;
}

.body-content {
    display: flex;
    margin-bottom: 5px;
}

.left-section,
.right-section {
    padding: 20px;
    color: #000;
    border-bottom: 2px solid #ccc;
    border-radius: 0; /* Remove border radius */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7); /* Updated box shadow */
}

.left-section {
    flex: 3;
    border-radius: 15px;
    background-color: #5eb1da;
    margin-right: 5px;
    margin-left: 20px;
}

.right-section {
    flex: 1;
    background-color: #b9eedc;
    margin-left: 5px;
    margin-right: 20px;
}

.text-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.text-content h4 {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.top-header h4 {
    margin: 0;
}

.left-section h2 {
    color: #ffffff;
}

.right-section h2 {
    color: black;
}

.experience-section h2 {
    color: #ffffff;
}

.about-section h2 {
    color: #ffffff;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.skill-bar {
    width: 270px;
    height: 1em;
    position: relative;
    display: flex;
    background-color: #ddd;
    border-radius: 1em;
    margin-bottom: 5px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    color: white;
}

.skill-bar::before {
    content: attr(data-label);
    display: flex;
    position: absolute;
    min-width: 1em;
    width: calc(var(--width, 0) * 1%);
    max-width: 100%;
    height: 100%;
    border-radius: 1em;
    background-image: linear-gradient(to right, #5eb1da ,#292bb2 );
    
}
